table.accounts-table
    width: 90%
    margin-left 5%
    margin-right 5%
    //font-family SimplePrint
    min-height 70%

    td, th
        font-size 16px
        //font-weight bold

button.delete-button
    border none
    outline none
    color red

button.add-accounts-button
    margin-left 5%
    margin-bottom 16px

mat-spinner.loader
    margin 0 auto
    margin-top 200px
