/* You can add global styles to this file, and also import other style files */
@font-face
    font-family Flamenco
    font-style normal
    src url("assets/falmenco.ttf")

@font-face
    font-family SimplePrint
    font-style normal
    src url("assets/simpleprint.ttf")
